/* Specifiche techiche sito */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background: #fff;
  color: #000;
}

/* Utilities */
.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.small-container {
  width: 1350px;
  height: 800px
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.w-50 {
  width: 50%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Tipography */


/* Buttons */
.btn {
  display: inline-block;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}

.btn-blue {
  color: blue;
}

/* Header */
.main-header {
  background: #fff;
  height: 80px;
}
/* Menu */
.menu-nav {
  font-size: 12px;
  line-height: 80px;
  text-transform: uppercase;
}

.menu-nav img {
  vertical-align: middle;
}

.text-inline li {
 display: inline-block;
 padding: 0 10px;
}

.menu-nav li a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.menu-nav .header-logo {
  width: 15%;
}

.menu-nav .header-nav {
  width: 85%;
}

.main-header .header-nav ul .hidden {
  display: none;
}


/* MEDIA XS HEADER */
@media screen and (max-width: 767px) {
  .main-header .header-nav ul li {
    display: none;
  }
  .main-header .header-nav ul .hidden {
    display: inline-block;
  }
}

/* MEDIA MD HEADER */
@media screen and (min-width: 768px) {
  .main-header .header-nav ul li {
    display: none;
  }
  .main-header .header-nav ul .hidden {
    display: inline-block;
  }
}

/* MEDIA LG HEADER */
@media screen and (min-width: 992px) {
  .main-header .header-nav ul li {
    display: inline-block;
  }
  .main-header .header-nav ul .hidden {
    display: none;
  }
}


/* Jumbotron */
.jumbotron {
  position: relative;
  height: 700px;
  background-image: url("../img/hero-bg.jpg");
  background-size: 1350px;
  background-size: cover;
}

.text-jumbotron {
  position: absolute;
  left: 675px;
  top: 30%;
}

.text-jumbotron h1 {
  font-size: 58px;
  color: white;
  margin-bottom: 15px;
}

.text-jumbotron p {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}

.text-jumbotron .loghi {
  margin: 0 15px;
  display: inline-block;
}

/* MEDIA XS JUMBOTRON */
@media screen and (max-width: 767px) {
  .jumbotron .text-jumbotron {
    position: absolute;
    left: 0;
  }
}

/* MEDIA MD JUMBOTRON */
@media screen and (min-width: 768px) {
  .jumbotron .text-jumbotron {
    position: absolute;
    left: 0;
  }
}

/* MEDIA LG JUMBOTRON */
@media screen and (min-width: 992px) {
  .jumbotron .text-jumbotron {
    position: absolute;
    left: 675px;
    top: 30%;
  }
}


/* Main content - Prodotti */
.row .product {
  margin-top: 30px;
  border-right: 20px solid white;
  line-height: 40px;
  background: #fafafa;
}

.row img {
  width: 200px;
  height: 350px;
}

/* How-Work */
.how-work {
  position: relative;
  height: 550px;
  margin-bottom: 200px;
  background-image: url("../img/helbiz-banner.jpg");
  background-size: 1350px;
  background-size: cover;
}

.how-work .col-left,
.how-work .col-right {
  margin-top: 700px;
}

.how-work .col-left {
  text-align: right;
}
.how-work .col-left .text {
  display: inline-block;
  text-align: left;
}

.how-work .col-left .text h3 {
  font-size: 30px;
}

.how-work h3,
.how-work h4 {
  font-weight: 600;
}

.how-work .col-right .text {
  padding-top: 10px;
}

/* MEDIA XS HOW WORK */
@media screen and (max-width: 767px) {
  .only-desktop {
    display: none;
  }
  .how-work .col-left .text {
    position: absolute;
    left: 150px;
    bottom: 300px;
  }
  .how-work .col-right .text {
    position: absolute;
    left: 150px;
    bottom: 250px;
  }
}

/* MEDIA MD HOW WORK */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .only-desktop {
    display: none;
  }
  .how-work .col-left .text {
    position: absolute;
    left: 150px;
    bottom: 300px;
  }
  .how-work .col-right .text {
    position: absolute;
    left: 150px;
    bottom: 250px;
  }
}

/* MEDIA LG HOW WORK */
@media screen and (min-width: 992px) {
  .only-desktop {
    display: block;
    margin-top: 150px;
  }
  .how-work {
    background-position: center;
  }
  .how-work .phone {
    margin-top: 100px;
    text-align: center;
  }
  .how-work .phone img { /* l'immagine è un elmento inline-bloche che segue il flusso */
    max-height: 600px; /* aggiungo un terzo ai 400px già indicati */
    max-width: 100%;
  }
  .how-work {
    margin-bottom: 300px;
  }
  .how-work .col-left,
  .how-work .col-right {
    margin-top: 650px;
  }
}

@media screen and (min-width: 1200px) {
  .how-work {
    margin-bottom: 300px;
  }
  .how-work .col-left,
  .how-work .col-right {
    margin-top: 650px;
  }
}

/* Smart mobility */
.smart-mobility {
  position: relative;
  height: 450px;
  background-image: url("../img/scooter-bg.jpg");
  background-size: cover;
  background-position: left center;
}

.smart-mobility h1 {
  font-size: 58px;
  color: white;
  margin-top: 80px;
  margin-bottom: 30px;
}

.smart-mobility p {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}

/* MEDIA XS SMART MOBILITY */
@media screen and (max-width: 767px) {
  .smart-mobility .text-smart {
    position: absolute;
    left: 170px;
  }
  .smart-mobility h1 {
    font-size: 58px;
    color: white;
    margin-top: 50px;
  }
  .smart-mobility p,
  .smart-mobility a {
    font-size: 18px;
  }
}

/* MEDIA MD SMART MOBILITY */
@media screen and (min-width: 768px) {
  .smart-mobility .text-smart {
    position: absolute;
    left: 170px;
    display: inline-block;
  }
  .smart-mobility h1 {
    font-size: 58px;
    color: white;
    margin-top: 50px;
  }
  .smart-mobility p,
  .smart-mobility a {
    font-size: 18px;
  }
}

/* MEDIA LG SMART MOBILITY */
@media screen and (min-width: 992px) {
  .smart-mobility .text-smart {
    position: absolute;
    left: 675px;
    top: 15%;
  }
}

/* The app */
.app {
  position: relative;
}

.app .box-1,
.app .box-2 {
  background-color: #2B3856;
  height: 490px;
}
.app .box-1 {
 border-right: 20px solid white;
}
/* Immagini */
.small-container .box-1 img {
  width: 600px;
  height: 350px;
}

.small-container .box-2 {
  background-image: url("../img/cities.jpg");
  background-size: cover;
  background-position: center;
}

/* Testo */
.app h2,
.app h3,
.app .btn {
  margin-top: 20px;
  color: white;
}
